body{background-color:#698C9C ;
     font-size: 50px;
     font-family:copperplate ;
      color: #0D81A1;}
.class-for-secondpage{color:#F0866E; font-size: 45px; font-family: georgia;}
.p-for-secondpage{background-color: #A4B8ED;}
.h1-for-secondpage{font-size: 45px; font-family: sans-serif;color: #0D36A1;}
.h1forpage3{font-size: 40px; font-family: fantasy; color: #0D81A1;}
.p1page3{color: #000000; background-color: #698C9C; font-size: 25px;}
.choice{font-size: 30px; color: #000000; font-family: cursive;}


.c1{font-size: 30; color: #000000;}
.c2{font-size: 50; color: #000000;}
.h2forpage3{font-size: 45px; color:#0D81A1; }
.p1forpage4{font-size: 25px;color: #000000; font-family: serif;background-color:#698C9C ;}
.H1forpage4{color: darkgoldenrod; font-size: 45px;}
.H2forpage4{color: darkgoldenrod; font-size: 45px;}
.goal{color: skyblue;}
.p2forpage4{font-size: 35px;color: #000000; font-family: serif;background-color:#698C9C ;}



.backpage4{font-size: 30px; color: #0D00FF; font-family: cursive;}
.headpage5{font-size: 50px; font-family: monospace; color: #6CA1F0;}
.p1page5{background-color: #C4FF00;}

h1{
font-size: 50px;
color: #235438;
}



head{color: #0D81A1;}



p{ font-size: 30px;
background-color:#ECA3E8;
color: #233B38; 
font-family: Times New Roman;}

.p2-for-secondpage{font-size: 30px; font-family: ;}
